*{
    color: white;
}

.bg{
    background: url(wallpaper.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
        
}

.form-container{
    
    padding: 50px 90px;
    margin-top: 20vh;
    box-shadow: -1px -1px 19px 13px rgba(0,0,0,0.68);
    max-width: auto;
}

